<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<html lang="en">-->
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>Składnik Manager</title>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container-fluid">
    <div class="starter-template">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-9 control-label">Przegląd składników</label>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal row-border" action=""
                              th:object="${skladnikP}" method="post">


                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <!--                                        <label  style="text-align:center" class="col-md-2 control-label">Skladniki</label>-->
                                        <div class="container-fluid">
                                            <table id="Przyciski" class=" table order-list">
                                                <tfoot>
                                                <tr>
                                                    <td colspan="2" style="text-align: center;">
                                                        <input type="button" class="btn btn-block "
                                                               onclick="bootleTable('SkladTable')"
                                                               value="Alkohole"/>
                                                    </td>
                                                    <td colspan="2" style="text-align: center;">
                                                        <input type="button" class="btn btn-block "
                                                               onclick="sokiTable('SkladTable')"
                                                               value="Soki"/>
                                                    </td>

                                                    <td colspan="2" style="text-align: center;">
                                                        <input type="button" class="btn btn-block "
                                                               onclick="syropTable('SkladTable')"
                                                               value="Syropy"/>
                                                    </td>

                                                    <td colspan="2" style="text-align: center;">
                                                        <input type="button" class="btn btn-block "
                                                               onclick="inneTable('SkladTable')"
                                                               value="Inne"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                </tr>
                                                </tfoot>
                                            </table>


                                            <table id="SkladTable" class=" table order-list table-bordered">
                                                <tfoot>


                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">


    let butlaList=[[${butlaList}]]
    // var skladnikList = [[${skladnikList}]];
    var sokList = [[${sokList}]];
    var syropList = [[${syropList}]];
    var innyList = [[${innyList}]];

    let starter = function (elementName, rodzaj) {
        let rowIndexSelector = '.hgw';

        let clearTable = document.getElementById(elementName);
        clearTable.innerHTML = "";
        let headRow = document.createElement('tr');
        headRow.classList.add(rowIndexSelector.substr(1));
        let head1 = document.createElement('td');
        head1.classList.add('col-sm-4');
        let head2 = document.createElement('td');
        head2.classList.add('col-sm-2');

        let head1text = document.createElement('output');
        head1text.value = "nazwa";
        if (rodzaj == 1) {
            let head4 = document.createElement('td');
            head4.classList.add('col-sm-2');
            let head4text = document.createElement('output');
            head4text.value = "Alkohol";
            head4.appendChild(head4text);
            headRow.appendChild(head4);

            let head3 = document.createElement('td');
            head3.classList.add('col-sm-2');
            let head3text = document.createElement('output');
            head3text.value = "Typ";
            head3.appendChild(head3text);
            headRow.appendChild(head3);
        }

        let head2text = document.createElement('output');
        head2text.value = "Cena";


        head2.appendChild(head2text);
        head1.appendChild(head1text);
        headRow.appendChild(head1);
        headRow.appendChild(head2);

        if (rodzaj == 3) {
            let head3 = document.createElement('td');
            head3.classList.add('col-sm-2');
            let head3text = document.createElement('output');
            head3text.value = "Przepis";
            head3.appendChild(head3text);
            headRow.appendChild(head3);
        }

        let hidden = document.createElement('input');
        hidden.setAttribute('name', 'rodzaj');
        hidden.value = rodzaj;
        hidden.hidden = true;
        headRow.appendChild(hidden);

        document.getElementById(elementName).appendChild(headRow);

    };

    let inRowIteration = function (elementName, rodzaj, obj) {
        let rowIndexSelector = '.hgw';
        let rowIndex = document.querySelectorAll(rowIndexSelector).length;
        let row = document.createElement('tr');
        row.classList.add(rowIndexSelector.substr(1));
        row.classList.add('table-bordered');

        let colName = document.createElement('td');
        colName.classList.add('col-sm-2');
        let nameText = document.createElement("output");
        nameText.value = obj.nazwa;
        colName.appendChild(nameText);
        row.appendChild(colName);

        if (rodzaj==1){

            let colAlko= document.createElement('td');
            colAlko.classList.add('col-sm-2');
            let aplkoText= document.createElement('output');
            aplkoText.value=obj.alkoholNazwa;
            colAlko.appendChild(aplkoText);
            row.appendChild(colAlko);

            let colTyp= document.createElement('td');
            colTyp.classList.add('col-sm-2');
            let typText= document.createElement('output');
            typText.value=obj.typNazwa;
            colTyp.appendChild(typText);
            row.appendChild(colTyp);
        }

        let colPrice = document.createElement('td');
        colPrice.classList.add('col-sm-2');
        let priceField = document.createElement("output");
        if (rodzaj == 4) {
            priceField.value = obj.cenaZaJednostke;
        } else {
            priceField.value = obj.cenaZaLitr;
        }
        colPrice.appendChild(priceField);
        row.appendChild(colPrice);


        if (rodzaj == 3) {
            let colRecipe = document.createElement('td');
            colRecipe.classList.add('col-sm-2');
            let recipeField = document.createElement("output");
            if (obj.przepis == null) {
                recipeField.value = "brak przepisu";
            } else {
                recipeField.value = obj.przepis;
            }
            colRecipe.appendChild(recipeField);
            row.appendChild(colRecipe);

            colRecipe.addEventListener("click", function () {
                toEdit(rodzaj, obj);
            }, true);

        }
        let colEdit = document.createElement('td');
        colEdit.classList.add('col-sm-2');
        let editbutton = document.createElement("BUTTON");
        editbutton.innerHTML = "edytuj";
        editbutton.classList.add("btn");
        editbutton.classList.add("btn-default");
        editbutton.type = "button";

        editbutton.addEventListener("click", function () {
            toEdit(rodzaj, obj);
        }, true);

        colEdit.appendChild(editbutton);
        row.appendChild(colEdit);

        let colUsun = document.createElement('td');
        colUsun.classList.add('col-sm-2');
        let usunbutton = document.createElement("BUTTON");
        usunbutton.innerHTML = "usun";
        usunbutton.classList.add("btn");
        usunbutton.classList.add("btn-default");
        usunbutton.type = "button";

        usunbutton.addEventListener("click", function () {
            usunSkladnik(rodzaj, obj);
        }, true);

        colUsun.appendChild(usunbutton);
        row.appendChild(colUsun);
        document.getElementById(elementName).appendChild(row);


        function usunSkladnik(rodzaj,obj) {

            switch (rodzaj) {
                case 1:
                    window.location.href = '/butelka/delete/' + obj.id;
                    break;
                case 2:
                    window.location.href = '/sok/delete/' + obj.id;
                    break;
                case 3:
                    window.location.href = '/syrop/delete/' + obj.id;
                    break;
                case 4:
                    window.location.href = '/inny/delete/' + obj.id;
                    break;
            }
        }

        function toEdit(rodzaj, obj) {
            switch (rodzaj) {
                case 1:
                    window.location.href = '/butelka/edit/' + obj.id;
                    break;
                case 2:
                    window.location.href = '/sok/edit/' + obj.id;
                    break;
                case 3:
                    window.location.href = '/syrop/edit/' + obj.id;
                    break;
                case 4:
                    window.location.href = '/inny/edit/' + obj.id;
                    break;
            }
        }
    };


    let addEndRow = function (elementName, rodzaj) {
        let rowIndexSelector = '.hgw';

        let rowHead = document.createElement('tr');
        rowHead.classList.add(rowIndexSelector.substr(1));
        rowHead.textContent = "Dodaj nowy składnik";
        rowHead.style.textAlign = "center";

        document.getElementById(elementName).appendChild(rowHead);

        let row = document.createElement('tr');
        row.classList.add(rowIndexSelector.substr(1));

        let colNewName = document.createElement('td');
        colNewName.classList.add('col-sm-2');
        let inputNewName = document.createElement('input');
        inputNewName.type = 'text';
        inputNewName.classList.add('form-control');
        inputNewName.setAttribute('name','nazwa');
        inputNewName.placeholder = "Nowa nazwa";
        inputNewName.required=true;
        colNewName.appendChild(inputNewName);
        row.appendChild(colNewName);

        let colNewprice = document.createElement('td');
        colNewprice.classList.add('col-sm-2');
        let inputNewPrice = document.createElement('input');
        inputNewPrice.type = 'number';
        // inputNewPrice.step = "0.5";
        inputNewPrice.value = "0";
        inputNewPrice.classList.add('form-control');
        inputNewPrice.setAttribute('name','iloscML');
        colNewprice.appendChild(inputNewPrice);
        row.appendChild(colNewprice);

        if (rodzaj==3){
            let colNewName = document.createElement('td');
            colNewName.classList.add('col-sm-2');
            let inputNewName = document.createElement('input');
            inputNewName.type = 'text';
            inputNewName.classList.add('form-control');
            inputNewName.setAttribute('name','opisDodatkowy');
            inputNewName.placeholder = "Przepis";
            colNewName.appendChild(inputNewName);
            row.appendChild(colNewName);
        }


        let colPost = document.createElement('td');
        colPost.classList.add('col-sm-2');
        let postbutton = document.createElement("BUTTON");
        postbutton.classList.add("btn");
        postbutton.classList.add("btn-default");
        postbutton.type = "submit";
        postbutton.innerHTML = "Dodaj";
        postbutton.name = "dodaj";

        colPost.appendChild(postbutton);
        row.appendChild(colPost);
        document.getElementById(elementName).appendChild(row);

    };


    let addEndRowBottle= function(elementName){
        let rowIndexSelector = '.hgw';


        let rowHead = document.createElement('tr');
        rowHead.classList.add(rowIndexSelector.substr(1));
        rowHead.textContent = "Dodaj nową butelkę";
        rowHead.style.textAlign = "center";

        document.getElementById(elementName).appendChild(rowHead);

        let row = document.createElement('tr');
        row.classList.add(rowIndexSelector.substr(1));


        let colPost = document.createElement('td');
        colPost.classList.add('col-sm-2');
        let postbutton = document.createElement("BUTTON");
        postbutton.innerHTML = "Dodaj";
        postbutton.classList.add("btn");
        postbutton.classList.add("btn-default");
        postbutton.type = "button";
        postbutton.name = "dodaj";

        colPost.appendChild(postbutton);
        row.appendChild(colPost);
        document.getElementById(elementName).appendChild(row);


        postbutton.addEventListener("click", function () {
            dodajNowaButla();
        }, true);

        function dodajNowaButla() {
                window.location.href = '/skladniki/dodajbutle/';
        }

    };


    let bootleTable = function (elementName) {
        starter(elementName, 1);
        butlaList.forEach(function (butelka) {
            inRowIteration(elementName, 1, butelka);
        });
        addEndRowBottle(elementName);
    };

    let sokiTable = function (elementName) {
        starter(elementName, 2);
        sokList.forEach(function (sok) {
            inRowIteration(elementName, 2, sok);
        });
        addEndRow(elementName, 2);
    };

    let syropTable = function (elementName) {

        starter(elementName, 3);
        syropList.forEach(function (syrop) {
            inRowIteration(elementName, 3, syrop);
        });
        addEndRow(elementName, 3);
    };

    let inneTable = function (elementName) {

        starter(elementName, 4);
        innyList.forEach(function (inny) {
            inRowIteration(elementName, 4, inny);
        });
        addEndRow(elementName, 4);
    };


    let toClick=[[${toClick}]];
    switch (toClick) {
        case 1:
            bootleTable('SkladTable');
            break;
        case 2:
            sokiTable('SkladTable');
            break;
        case 3:
            syropTable('SkladTable');
            break;
        case 4:
            inneTable('SkladTable');
            break;
    }

</script>
</body>
</html>