<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" >
<!--<html lang="en">-->
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>Dodaj alkohol</title>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container-fluid">
    <div class="starter-template">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-9 control-label">Utwórz nową butelkę</label>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal row-border" action="#"
                              th:object="${butelka}" method="post">

                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <!--                                        <label  style="text-align:center" class="col-md-2 control-label">Skladniki</label>-->
                                        <div class="container-fluid">
                                            <table id="addTable" class=" table order-list">
                                                <thead>
                                                <tr>
                                                    <td style="text-align:center">Nazwa</td>
                                                    <td style="text-align:center">Cena za litr</td>
                                                    <td style="text-align:center">Rodzaj alkoholu</td>
                                                    <td style="text-align:center">Nowy alkohol</td>
                                                    <td style="text-align:center">Typ</td>
                                                    <td style="text-align:center">Nowy typ</td>
                                                    <td style="text-align:center">Ocena</td>

                                                    <td></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                <tr>
<!--                                                    <td class="col-sm-2">-->
<!--                                                        <input th:field="*{nazwa}" type="text" class="form-control"-->
<!--                                                               placeholder="Nazwa" required>-->
<!--                                                    </td>-->
<!--                                                    <td class="col-sm-2">-->
<!--                                                        <input th:field="*{cenaZaLitr}" type="text" class="form-control"-->
<!--                                                               placeholder="">-->
<!--                                                    </td>-->
<!--                                                    <td class="col-sm-2">-->
<!--                                                        <input th:field="*{alkoholNazwa}" type="text" class="form-control"-->
<!--                                                               placeholder="rodzaj alkoholu">-->
<!--                                                    </td>-->
<!--                                                    <td class="col-sm-2">-->
<!--                                                        <input value="Dowolne" th:field="*{typNazwa}" type="text"-->
<!--                                                               class="form-control">-->
<!--                                                    </td>-->

                                                </tr>
                                                <tr>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container-fluid">
                                    <label class="container-fluid">Opis</label>
                                    <textarea th:field="*{opis}" class="form-control" rows="6"></textarea>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary" name="dodaj">Zapisz</button>


                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>


</div>




<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">

    let alkoList=[[${alkoList}]];
    let choices = [[${skladnikList}]];

    function alkoChanger(row, selectList) {


        let checkboxId= 'newTyp';
        let checkboxNT= document.getElementById(checkboxId);


        if (!checkboxNT.checked){
            let parent = selectList.value;
            let skladniki = [[${alkoList}]];
            let bool = parent === "-----";
            let childID = 'typNazwa';
            let x = document.getElementById(childID);
            do {
                x.remove(x.length - 1);

            } while (x.length > 0);

            if (!bool) {
                skladniki.forEach((skladnik) => {
                    var bol = skladnik.nazwa == parent;
                    if (bol) {
                        var typLista = skladnik.typList;
                        for (var i = 0; i < typLista.length; i++) {
                            var option = document.createElement("option");
                            option.value = typLista[i].nazwa;
                            option.text = typLista[i].nazwa;
                            x.appendChild(option);
                        }
                    }
                });
            }
        }


    }

    function newTypChanger(row, columnAlko, column, checkbox,checkboxAlko) {

        let childID = 'typNazwa';
        column.removeChild(document.getElementById(childID));

        // let checkboxAlkoId = 'nowyAlko';
        // let checkboxAlko = document.getElementById(checkboxAlkoId);

        if (checkbox.checked) {

            let input2 = document.createElement('input');
            input2.type = 'text';
            input2.classList.add('form-control');
            input2.id =  'typNazwa';
            input2.setAttribute('name', 'typNazwa');
            input2.placeholder = "Nowy typ";
            column.appendChild(input2);

            if (checkboxAlko.checked) {
                checkboxAlko.checked = false;

                let listId = 'alkoholNazwa';
                columnAlko.removeChild(document.getElementById(listId));
                let selectList = document.createElement('select');

                for (let i = 0; i < choices.length; i++) {
                    option = document.createElement("option");
                    option.value = choices[i].nazwa;
                    option.text = choices[i].nazwa;
                    selectList.appendChild(option);
                }

                selectList.classList.add('form-control');
                selectList.id =  'alkoholNazwa';
                selectList.setAttribute('name', 'alkoholNazwa');
                columnAlko.appendChild(selectList);

                selectList.addEventListener("change", function () {
                    alkoChanger(row, selectList)
                }, true);
            }

        } else {

            let input3 = document.createElement('select');
            input3.classList.add('form-control');
            input3.id = 'typNazwa';
            input3.setAttribute('name',  'typNazwa');

            let parentID =  'alkoholNazwa';
            let parentList = document.getElementById(parentID);
            let parent = parentList.value;
            let skladniki = [[${skladnikList}]];
            skladniki.forEach((skladnik) => {

                let typLista = skladnik.typList;
                let bol = skladnik.nazwa == parent;
                if (bol) {
                    for (let i = 0; i < typLista.length; i++) {
                        let option = document.createElement("option");
                        option.value = typLista[i].nazwa;
                        option.text = typLista[i].nazwa;
                        input3.appendChild(option);
                    }
                }
            });

            column.appendChild(input3);

            parentList.addEventListener("change", function () {
                alkoChanger(row, parentList)
            }, true);

        }
    }

    function newAlkoChanger(row, column, columnTyp, checkboxTyp,checkbox) {

        let listId = 'alkoholNazwa';
        column.removeChild(document.getElementById(listId));
        let typListItem = 'typNazwa';
        let x = document.getElementById(typListItem);

        // let checkboxTypId = 'nowy';
        // let checkboxTyp = document.getElementById(checkboxTypId);

        if (checkbox.checked) {

            let input2 = document.createElement('input');
            input2.type = 'text';
            input2.classList.add('form-control');
            input2.id ='alkoholNazwa';
            input2.setAttribute('name', 'alkoholNazwa');
            input2.placeholder = "Nowa nazwa";
            column.appendChild(input2);

            let option2 = document.createElement("option");
            option2.value = "Dowolny";
            option2.text = "Dowolny";


            if (checkboxTyp.checked) {
                checkboxTyp.checked = false;

                let childID ='typNazwa';
                columnTyp.removeChild(document.getElementById(childID));

                let input3 = document.createElement('select');
                input3.classList.add('form-control');
                input3.id = 'typNazwa';
                input3.setAttribute('name', 'typNazwa');
                input3.appendChild(option2);
                columnTyp.appendChild(input3);

            } else {
                do {
                    x.remove(x.length - 1);

                } while (x.length > 0)

                x.appendChild(option2);
            }


        } else {

            let i;
            let selectList = document.createElement('select');
            // let option = document.createElement("option");
            // option.value = "-----";
            // option.text = "-----";
            // selectList.appendChild(option);

            for (i = 0; i < choices.length; i++) {
                let option = document.createElement("option");
                option.value = choices[i].nazwa;
                option.text = choices[i].nazwa;
                selectList.appendChild(option);
            }

            selectList.classList.add('form-control');
            selectList.id = 'alkoholNazwa';
            selectList.setAttribute('name', 'alkoholNazwa');
            column.appendChild(selectList);

            for (i = 0; i < x.length; i++) {
                if (x.length > 0) {
                    x.remove(x.length - 1);
                }
            }

            selectList.addEventListener("change", function () {
                alkoChanger(row, selectList)
            }, true);
            alkoChanger(row, selectList);

        }
    }




    let rowIndexSelector= '.s';

    let rowIndex = document.querySelectorAll(rowIndexSelector).length;
    let row = document.createElement('tr');
    row.classList.add(rowIndexSelector.substr(1));

    let colNazwa = document.createElement('td');
    colNazwa.classList.add('col-sm-2');
    let inputNazwa = document.createElement('input');
    inputNazwa.type = 'text';
    inputNazwa.classList.add('form-control');
    inputNazwa.id = 'nazwa';
    inputNazwa.setAttribute('name', 'nazwa');
    inputNazwa.placeholder = "Nazwa butelki";
    // let  butelkalol= [[${butelka}]];
    // if (butelkalol.nazwa==null){
    //     inputNazwa.value=butelkalol.nazwa;
    // }
    inputNazwa.required=true;
    colNazwa.appendChild(inputNazwa);
    row.appendChild(colNazwa);



    let col4 = document.createElement('td');
    col4.classList.add('col-sm-2');
    let input = document.createElement('input');
    input.type = 'number';
    input.step = "1";
    input.value = "0";
    input.classList.add('form-control');
    input.id = 'cenaZaLitr';
    input.setAttribute('name', 'cenaZaLitr');
    col4.appendChild(input);
    row.appendChild(col4);

    let col = document.createElement('td');
    col.classList.add('col-sm-2');
    let selectList = document.createElement('select');

    for (let i = 0; i < alkoList.length; i++) {
        let option = document.createElement("option");
        option.value = alkoList[i].nazwa;
        option.text = alkoList[i].nazwa;
        selectList.appendChild(option);
    }
    selectList.selectedIndex=0;

    selectList.classList.add('form-control');
    selectList.id = 'alkoholNazwa';
    selectList.setAttribute('name', 'alkoholNazwa');
    col.appendChild(selectList);
    row.appendChild(col);


    let colNewAlko = document.createElement('td');
    let checkboxAlko = document.createElement('input');
    checkboxAlko.type = 'checkbox';
    checkboxAlko.classList.add('form-control');
    checkboxAlko.id = 'newAlko';
    checkboxAlko.setAttribute('name','newAlko');
    colNewAlko.appendChild(checkboxAlko);
    row.appendChild(colNewAlko);


    let col2 = document.createElement('td');
    col2.classList.add('col-sm-2');
    let selectList2 = document.createElement('select');
    selectList2.classList.add('form-control');
    selectList2.id = 'typNazwa';
    selectList2.setAttribute('name','typNazwa');
    col2.appendChild(selectList2);
    row.appendChild(col2);

    let colNew = document.createElement('td');
    let checkbox = document.createElement('input');
    checkbox.type = 'checkbox';
    checkbox.classList.add('form-control');
    checkbox.id = 'newTyp';
    checkbox.setAttribute('name', 'newTyp');
    colNew.appendChild(checkbox);
    row.appendChild(colNew);




    // alkoList.forEach((skladnik) => {
    //     var bol = skladnik.nazwa == selectList.value;
    //     if (bol) {
    //         var typLista = skladnik.typList;
    //         for (var i = 0; i < typLista.length; i++) {
    //             var option = document.createElement("option");
    //             option.value = typLista[i].nazwa;
    //             option.text = typLista[i].nazwa;
    //             selectList2.appendChild(option);
    //         }
    //     }
    // });



    selectList.addEventListener("change", function () {
        alkoChanger(row, selectList)
    }, true);

    checkboxAlko.addEventListener("change", function () {
        newAlkoChanger( row, col, col2,checkbox, checkboxAlko)
    }, true);

    checkbox.addEventListener("change", function () {
        newTypChanger( row,  col, col2, checkbox,checkboxAlko)
    }, true);

    document.getElementById('addTable').appendChild(row);


    alkoChanger(row, selectList);


</script>

</body>
</html>