<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<html lang="en">-->
<head>
    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container-fluid">
    <div class="starter-template">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3>Dodawanie koktajli</h3>
                </div>
            </div>


            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-9 control-label">Dodaj nowy koktajl</label>
                            </div>
                        </div>

                    </div>
                                <div class="panel-body">
                                    <form class="form-horizontal row-border" action="#"
                                          th:object="${koktajlForm}" method="post">


                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-1 control-label">Skladniki:</label>
                                                    <label class="col-md-2 control-label">Typ:</label>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>
                                                            <select th:field="*{nazwa}" class="form-control"
                                                                    name="parent_selection" id="parent_selection" required>
                                                                <option value="">--</option>
                                                                <option th:each="Alkohol : ${skladnikList}"
                                                                        th:value="${Alkohol.nazwa}"
                                                                        th:text="${Alkohol.nazwa}"></option>
                                                            </select>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>
                                                            <select th:field="*{skladnikTyp}" name="child_selection1"
                                                                    id="child_selection1" class="form-control">
                                                            </select>
                                                        </label>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </form>


                                </div>
                </div>

            </div>
        </div>
    </div>


</div>


<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">


    var parent = $("#parent_selection").val(); //get option value from parent
    var skladniki = [[${skladnikList}]];

    skladniki.forEach((skladnik) => {
        var bol = skladnik.nazwa.localeCompare(parent);
        if (!bol) {
            list(skladnik.typList)
        }
    });

    $("#parent_selection").change(function () {
        var parent = $(this).val(); //get option value from parent

        var skladniki = [[${skladnikList}]];

        skladniki.forEach((skladnik) => {

            // console.log(niezgodnosc.niezgodnoscNaz);
            // console.log(parent + "                   odczyt");

            var bol = skladnik.nazwa.localeCompare(parent);
            // console.log(bol);

            if (!bol) {
                list(skladnik.typList)

            }

        });

    });

    function list(array_list1) {
        $("#child_selection1").html("");
        $(array_list1).each(function (i) {
            $("#child_selection1").append("<option value=\"" + array_list1[i].nazwa + "\">" + array_list1[i].nazwa + "</option>");
        });
    }

    function select_(elId, selectValues) {
        if (selectValues !== null) {
            var x = document.getElementById(elId)
            for (var option of x.getElementsByTagName("option")) {
                const value = option.value;
                if (selectValues.indexOf(value) !== -1) {
                    option.setAttribute('selected', 'selected');
                } else {
                    option.removeAttribute('selected');
                }
            }
        }
    }


    select_('child_selection1', [[${koktajlForm.skladnikTyp}]])


</script>

</body>
</html>