<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<html lang="en">-->
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>title</title>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--<div class="container-fluid">-->
<!--    <div class="starter-template">-->
<!--        <div class="container-fluid">-->
<!--            <div class="container-fluid">-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading clearfix">-->
<!--                        <div class="container-fluid">-->
<!--                            <div class="row">-->
<!--                                <label class="col-md-9 control-label">tytul</label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="panel-body">-->


<!--                        &lt;!&ndash;                        //kopiuj-wklej&ndash;&gt;-->


<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>