<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<html lang="en">-->
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <title>Struktura</title>

</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container-fluid">
    <div class="starter-template">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="container-fluid">
                            <div class="row">
                                <label id="tytul" class="col-md-9 control-label">Przegląd struktury alkoholi</label>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal row-border" action=""
                              th:object="${skladnikP}" method="post">


                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="container-fluid">

                                            <table id="MainTable" class=" table order-list table-bordered">
                                                <tfoot>


                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">
    let alkoList = [[${alkoList}]];
    // console.log(alkoList);
    let rowIndexSelector = 'selector';

    let clearTable = function (elementName) {
        let clearTable = document.getElementById(elementName);
        clearTable.innerHTML = "";
    };
    let firstRow = function (elementName) {

    };

    function toEdit( obj) {
                window.location.href = '/struktura/edit/' + obj.id;
    }


    let addRow = function (elementName, alkohol) {
        let rowIndex = document.querySelectorAll(rowIndexSelector).length;
        let row = document.createElement('tr');
        row.classList.add(rowIndexSelector.substr(1));

        let colNazwa = document.createElement('td');
        colNazwa.classList.add('col-sm-4');
        let inputNazwa = document.createElement('output');
        // inputNazwa.type = 'text';
        // inputNazwa.classList.add('form-control');
        // inputNazwa.id = 'nazwa';
        // inputNazwa.setAttribute('name', 'nazwa');
        inputNazwa.value = alkohol.nazwa;

        colNazwa.appendChild(inputNazwa);
        row.appendChild(colNazwa);

        let colTyp = document.createElement('td');
        colTyp.classList.add('col-sm-4');
        let outputTyp = document.createElement('select');
        outputTyp.classList.add('form-control');
        outputTyp.id = 'typ';
        // outputTyp.setAttribute('name', listName + '[' + rowIndex + '].' + 'typ');
        colTyp.appendChild(outputTyp);
        row.appendChild(colTyp);

        alkohol.typList.forEach((typ) => {
            let option = document.createElement("option");
            option.value = typ.nazwa;
            option.text = typ.nazwa;
            outputTyp.appendChild(option);
        });

        let colEdit = document.createElement('td');
        colEdit.classList.add('col-sm-2');
        let editbutton = document.createElement("BUTTON");
        editbutton.innerHTML = "edytuj";
        editbutton.classList.add("btn");
        editbutton.classList.add("btn-default");
        editbutton.type = "button";

        colEdit.appendChild(editbutton);
        row.appendChild(colEdit);

        editbutton.addEventListener("click", function () {
            toEdit(alkohol);
        }, true);


        document.getElementById(elementName).appendChild(row);
    }

    let creator = function (elementName) {
        firstRow(elementName);
        alkoList.forEach((alkohol) => {

            addRow(elementName, alkohol);

        });
    }

    creator('MainTable');


</script>
</html>